/* Colori Dark */

* {
  backgroundColor: #121212; /* nero N26 */

  primaryColor: #36a18b; /* verde N26 */
  secondaryColor: #1b1b1b; /* grigio scuro chiaro N26 */
  tertiaryColor: #2D2D2D; /* grigio chiaro N26 */
  quaternaryColor: #3b3b3b; /* grigio chiaro barra N26 */

  borderColor: #808080; /* grigio chiaro */

  textColor: #ffffff; /* bianco */

  shade1: #5cb3a0; /* verde chiaro */
  shade2: #252525; /* grigio scuro */



  accentColor:  #666666;
  accentColorDark: #1e1f23;


}