/* Colori light */
* {

  backgroundColor: #f9f9f9; /* binaco */

  primaryColor: #36a18b; /* verde N26 */
  secondaryColor: #ffffff; /* giallo medio */
  tertiaryColor: #f2f2f2; /* grigio chiaro searchBar N26 */
  quaternaryColor: #efeced; /* grigio scuro N26 */

  textColor: black; /* nero */

  /* DA COMPLETARE */
  accent-color: #f1eac7; /* giallo medio-scuro */
  accent-color-dark: #efe4b7; // giallo scuro */
}