* {
  backgroundColor: #f9f9f9;

  primaryColor: #36a18b;
  secondaryColor: #ffffff;
  tertiaryColor: #f2f2f2;
  quaternaryColor: #efeced;

  greenButtonColor: #48ac98;

  borderColor: #d8d8d8;

  textColor: black;
  promptTextColor: #696969;
  redColor: #FF5858;

  shade1: #5cb3a0;
  shade2: #f0f0f0;

  accentColor: #9a9a9a;
  accentColorDark: #efe4b7;
}