/* Colori light */
* {
  backgroundColor: #f9f9f9; /* binaco */

  primaryColor: #36a18b; /* verde N26 */
  secondaryColor: #ffffff; /* giallo medio */
  tertiaryColor: #f2f2f2; /* grigio chiaro searchBar N26 */
  quaternaryColor: #efeced; /* grigio scuro N26 */

  greenButtonColor: #48ac98; /* verde chiaro */

  borderColor: #d8d8d8; /* grigio chiaro */

  textColor: black; /* nero */
  promptTextColor: #696969; /* grigio scuro */

  shade1: #5cb3a0; /* verde chiaro */
  shade2: #f0f0f0; /* grigio chiaro */

  /* DA COMPLETARE */
  accentColor: #9a9a9a; /* grigio-scuro */
  accentColorDark: #efe4b7; // giallo scuro */
}