

.menu-bar {
    -fx-background-color: #36A18B;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 4);
    -fx-text-fill: secondary-color;
    -fx-font-size: 20px;
    /*
    -fx-font-weight: bold;
    */
}

/*Specifico per cambiare colore alla label*/
.menu-bar > .label {
  -fx-text-fill: black;
}

.background {
    -fx-background-color: #ffffff;
}

.background > .label {
  -fx-text-fill: black;
}

.button {
  -fx-background-color: #36A18B;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 2);
  -fx-background-radius: 100px;
}

.rounded-button {
  -fx-background-color: #36A18B;
  -fx-background-radius: 100px;
  }

.home-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 22px;
  -fx-font-weight: bold;
}

.button-label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 14px;
}

.scroll-pane .viewport {
    -fx-background-color: #121212;
}

.search-bar {
  -fx-background-color: #3B3B3B;
  -fx-background-radius: 10px;
}

.button-search-bar {
  -fx-background-color: #2D2D2D;
  -fx-text-fill: #36A18B;
  -fx-font-size: 14px;
  -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: #3B3B3B;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.transaction{
  -fx-background-color: #1B1B1B;
  /* Imposta il colore del bordo su bianco */
  -fx-border-color: white;
  /* Imposta la larghezza del bordo a 1px */
  -fx-border-width: 0.1px;
  -fx-font-size: 14px;
  -fx-text-fill: white;
}

.transaction > .button{
  -fx-background-color: #2D2D2D;
  -fx-background-radius: 100px;
  -fx-font-size: 14px;
  -fx-text-fill: white;
}

/*
.transaction-block{
  -fx-background-color: #1B1B1B;
  -fx-background-radius: 10;
}
*/